<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/h_style.css">
        <link rel="stylesheet" href="../static/t_style.css">
        <title>Blood Bank Management System</title>
    </head>

    <body>
        <div class="fixed-header">
            <nav>
                <div class="header">
                    <img class="logo" src="/static/blood_logo.png">
                    <h1><a href="/">Blood Bank Management System</a></h1>
                </div>
            </nav>
        </div>
        <script>
            alert("Enter all required details!");
            window.location='/register'
        </script>
    </body>
</html>
